<li>
  {{announcement.date}}'s news: (Type: {{announcement.type}} Author: {{announcement.author}})
  {{#if textIsShowing }}
    <p>{{announcement.message}}</p>
    <button {{action 'hideText'}}>Hide Content</button>
  {{else}}
    <button {{action 'showText'}}>Show Content</button>
  {{/if}}
  <button {{action 'delete' announcement}}>Delete Announcement</button>
</li>
